<!DOCTYPE html>
@*@section banner {
    @Html.Partial("~/Views/Shared/LayoutBanner")
}*@
@using Primus.Notification

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Primus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mvcNotify.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/messagebox/messagebox.css")" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/kendo/2014.2.716/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.716/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.716/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/kendo.culture.el-GR.min.js")"></script>
    <script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/messagebox/messagebox.js")"></script>
    <script src="@Url.Content("~/Scripts/custom/jspCustom.js")"></script>

    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />

    <script>
    kendo.culture("el-GR");
    </script>
    <!-- mvcNotify script -->
    <script type="text/javascript">
        //Set autoclear of messages. Don't put this into $(document).ready.
        //mvcNotify.autoClearTimeout = 0; //don't autoclear any types
        mvcNotify.autoClearTimeout = 8000; //Unit of milliseconds.
        mvcNotify.typesToConsoleLog = "all"; //Log all types to console.
    </script>

    <!-- Clock scripts -->
    <script src="@Url.Content("~/Clock/coolclock.js")"></script>
    <script src="@Url.Content("~/Clock/moreskins.js")"></script>
    <script src="@Url.Content("~/Clock/excanvas.js")"></script>

</head>
<body style="background-color:whitesmoke">
    <div id="mvcNotify" style="display: none;float:right;z-index:1024;position:absolute;top:8%;left:50%;right:3%;padding:10px 5px 5px 20px;">
        @Html.RenderMessages()
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" style="max-height:52px">
        <div class="body-content">
            <div class="navbar-header" style="font-family:'Segoe UI';font-size:14px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Primus >", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="font-family:'Segoe UI';font-size:16px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Αρχική", "Index", "Home")</li>
                    <li>@Html.ActionLink("Περιγραφή", "About", "Home")</li>
                    <li>@Html.ActionLink("Επικοινωνία", "Contact", "Home")</li>
                </ul>
                <div class="nav navbar-text navbar-right" style="float:right;color:white;vertical-align:middle;font-size:14px">
                    Χρήστης: @Html.Raw((string)ViewBag.loggedUser)
                    <input type="button" class="btn btn-danger" style="font-size:12px" value="Αποσύνδεση" onclick="location.href='@Url.Action("Logout", "Home" )'" />
                </div>
            </div>
        </div>
    </div>
    <div class="banner" style="background-color:dimgray;padding-top:4px;max-height:64px">
        <div class="row" style="background-color:transparent">
            <div class="col-md-1">
                <img src="~/images/metro/primus-white.png" height="48" width="48" style="margin-top:4px">
            </div>
            <div class="col-md-4" style="background-color:transparent">
                <p class="header" style="margin-top:2px;background-color:transparent;font-size:38px">P r i m u s</p>
            </div>
            <div class="col-md-offset-6 col-md-1">
                <canvas style="float:right" id="clockid" class="CoolClock:swissRail:30:0"></canvas>
            </div>
        </div>
    </div>
    <div class="page-header" style="margin:10px 20px 5px 40px">
        <span style="font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
            <font style="color:#292929;font-family:'Segoe UI'">Σελίδα εργασιών σχολείου</font>
        </span>
    </div>
    @*<div class="container body-content">*@
    <div class="row" style="margin:5px 20px 5px 20px">
    @(Html.Kendo().Menu()
      .Name("menu")
      .HtmlAttributes(new { style = "margin-right: 20px; width: 100%;" })
      .Items(items =>
      {
          items.Add().Text("Ρυθμίσεις").ImageUrl(Url.Content("~/Images/phone/appbar.cog.png"))
                .Items(Children =>
               {
                   Children.Add().Text("Στοιχεία του σχολείου").ImageUrl(Url.Content("~/Images/phone/appbar.book.open.text.png")).Action("SchoolEdit", "School");
                   Children.Add().Text("Ειδικότητες ανά έτος*").ImageUrl(Url.Content("~/Images/phone/appbar.list.gear.png")).Action("EidikotitesYearsSchools", "Settings")
                       .LinkHtmlAttributes(new { title = "Δεν χρησιμοποιείται στην παρούσα έκδοση της εφαρμογής" });
                   Children.Add().Text("Σχολικά έτη").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.year.png")).Action("SchoolYearsList", "Settings");
                   Children.Add().Text("Ειδικότητες σχολείων").ImageUrl(Url.Content("~/Images/phone/appbar.list.create.png")).Action("EidikotitesList", "Settings");
               });
          items.Add().Text("Μαθητές").ImageUrl(Url.Content("~/Images/phone/appbar.people.multiple.png"))
                .Items(Children =>
                {
                    Children.Add().Text("Στοιχεία-αιτήσεις για Διοίκηση").ImageUrl(Url.Content("~/Images/phone/appbar.people.profile.png"))
                        .Action("StudentData", "School");
                    Children.Add().Text("Μητρώο μαθητών στέγασης-σίτισης").ImageUrl(Url.Content("~/Images/phone/appbar.folder.people.png"))
                        .Action("StudentInfoList", "School");
                    Children.Add().Text("Μητρώο αιτήσεων στέγασης-σίτισης").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.edit.png"))
                        .Action("AitiseisInfoList", "School");
                });
        items.Add().Text("Αποφάσεις σχολείου").ImageUrl(Url.Content("~/Images/phone/appbar.home.people.png"))
                .Items(Children =>
                {
                    Children.Add().Text("Μαθητές και αιτήσεις").ImageUrl(Url.Content("~/Images/phone/appbar.people.profile.png")).Action("StudentData2", "School");
                    Children.Add().Text("Αποφάσεις σίτισης").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.edit.png")).Action("ApofaseisSitisi2", "School"); 
                    Children.Add().Text("Μητρώο μαθητών σίτισης").ImageUrl(Url.Content("~/Images/phone/appbar.folder.people.png")).Action("StudentInfo2List", "School");
                    Children.Add().Text("Μητρώο αιτήσεων σίτισης").ImageUrl(Url.Content("~/Images/phone/appbar.book.list.png")).Action("AitiseisInfo2List", "School");
                    Children.Add().Text("Μητρώο επιδοτήσεων σίτισης").ImageUrl(Url.Content("~/Images/phone/appbar.box.layered.png")).Action("EpidomaSitisi2", "School");
                });          
          items.Add().Text("Στατιστικά (ετήσια)").ImageUrl(Url.Content("~/Images/phone/appbar.greek.sigma.lowercase.png"))
              .Items(Children =>
              {
                  Children.Add().Text("Πλήθος αιτήσεων ανά φύλο").ImageUrl(Url.Content("~/Images/phone/appbar.pie.png")).Action("AitiseisGenderPrint", "School")
                    .LinkHtmlAttributes(new { target = "_blank" });
                  Children.Add().Text("Κατανομή με ή χωρίς κοινωνικά κριτήρια").ImageUrl(Url.Content("~/Images/phone/appbar.pie.quarter.png"))
                    .Action("AitiseisSocialPrint", "School").LinkHtmlAttributes(new { target = "_blank" });
                  Children.Add().Text("Κατανομή ανά ηλικιακή ομάδα").ImageUrl(Url.Content("~/Images/phone/appbar.graph.histogram.png"))
                    .Action("AitiseisAgesPrint", "School").LinkHtmlAttributes(new { target = "_blank" });
              });
          items.Add().Text("Ειδικές ρυθμίσεις").ImageUrl(Url.Content("~/Images/phone/appbar.list.gear.png"))
            .Items(Children =>
            {
                Children.Add().Text("Παράμετροι αποφάσεων").ImageUrl(Url.Content("~/Images/phone/appbar.cog.png")).Action("ApofasiParameters2", "Settings");
                Children.Add().Text("Είδη επιδομάτων").ImageUrl(Url.Content("~/Images/phone/appbar.list.reorder.down.png")).Action("SysEpidomaTypes", "Settings");
                Children.Add().Text("Ποσά επιδοτήσεων").ImageUrl(Url.Content("~/Images/phone/appbar.currency.euro.png")).Action("SysEpidomaPosa", "Settings");
                Children.Add().Text("Κοινωνικά κριτήρια").ImageUrl(Url.Content("~/Images/phone/appbar.social.sharethis.png")).Action("SysSocialGroups", "Settings");
                Children.Add().Text("Αιτίες απόρριψης αιτήσεων").ImageUrl(Url.Content("~/Images/phone/appbar.thumbs.down.png")).Action("SysAporipsiAities", "Settings");
            });
          items.Add().Text("Πρόσθετα").ImageUrl(Url.Content("~/Images/phone/appbar.list.star.png"))
            .Items(Children =>
            {
                Children.Add().Text("Μεταφόρτωση εγγράφων").ImageUrl(Url.Content("~/Images/phone/appbar.upload.png")).Action("UploadData", "Document");
                Children.Add().Text("Περιφέρειες και Δήμοι").ImageUrl(Url.Content("~/Images/phone/appbar.browser.wire.png")).Action("PeriferiesDimoi", "Settings");
                Children.Add().Text("Χάρτες Google +").ImageUrl(Url.Content("~/Images/phone/appbar.map.gps.png")).Action("GoogleMaps", "Settings")
                    .LinkHtmlAttributes(new { target = "_blank" });
            });                               
      })
        .Orientation(MenuOrientation.Horizontal)
    )

    </div>
    @RenderBody()
    @RenderSection("footer", required: false)
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
