@using Primus.DAL;
@using Primus.Models;


@{
    ViewBag.Title = "Επιδοτήσεις σίτισης σχολείων";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .k-grid {
        font-size: 12px;
    }
</style>


@Html.AntiForgeryToken()
<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Επιδοτήσεις αποφάσεων σίτισης σχολείων</font>
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Admin", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
    <span style="margin:5px 5px 5px 10px;float:right;font-family:'Segoe UI';font-size:14px">
        @Html.ActionLink("Εκτύπωση", "xEpidomaSitisi2Print", "Apofaseis", null, new { @class = "btn btn-primary", style = "font-size:14px", target = "_blank" })
    </span>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px;font-size:small">

    @(Html.Kendo().Grid<sqlEpidomaSitisiSchoolViewModel>()
        .Name("Grid")
        .AutoBind(true)
        .HtmlAttributes(new { style = "display: block;font-size:12px" })
        .Selectable()
        .Filterable()
        .Groupable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(10))
        .Scrollable(scr => scr.Height(380))
        .Columns(columns =>
        {
            columns.Bound(c => c.ΜΑΘΗΤΗΣ_ΑΦΜ).Width(14);
            columns.Bound(c => c.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Width(40)
                .ClientFooterTemplate("Συνολικό πλήθος: #=count#")
                .ClientGroupFooterTemplate("Πλήθος: #=count#");
            columns.Bound(c => c.SCHOOLYEAR_TEXT).Width(15);
            columns.Bound(c => c.SCHOOL_NAME).Width(28);
            columns.Bound(c => c.PERIFERIAKI_TEXT).Width(40);
            columns.Bound(c => c.ΣΤΕΓΑΣΗ_ΕΤΟΣ).Width(20)
                .ClientFooterTemplate("Γεν. σύνoλο: #= kendo.toString(sum, '0.00 €') #")
                .ClientGroupFooterTemplate("Σύνολο: #= kendo.toString(sum, '0.00 €') #");
            columns.Bound(c => c.ΣΙΤΙΣΗ_ΕΤΟΣ).Width(18)
                .ClientFooterTemplate("Γεν. σύνολο: #= kendo.toString(sum, '0.00 €') #")
                .ClientGroupFooterTemplate("Σύνολο: #= kendo.toString(sum, '0.00 €') #");
        })
        .DataSource(ds => ds
            .Ajax()
            .PageSize(60)
            .ServerOperation(true)
            .Model(model =>
            {
                model.Id(p => p.ΕΠΙΔΟΤΗΣΗ_ΚΩΔ);
            })
            .Read(read => read.Action("EpidotisiSitisi2_Read", "Apofaseis"))
            .Events(events => events.Error("error_handler"))
            //.Group(groups => groups.Add(p => p.SCHOOLYEAR_TEXT))
            .Aggregates(a =>
            {
                a.Add(p => p.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Count();
                a.Add(p => p.ΣΤΕΓΑΣΗ_ΕΤΟΣ).Sum();
                a.Add(p => p.ΣΙΤΙΣΗ_ΕΤΟΣ).Sum();
            })
        )
        .Events(events => events.Change("change"))
    )

</div>

<div id="partialDiv" class="body-content" style="margin:15px 30px 5px 30px;font-size:small">
    @Html.Partial("xEpidomaSitisi2Partial")
</div>

<script id="events" type="text/javascript">

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var epidomaID = dataItem.ΕΠΙΔΟΤΗΣΗ_ΚΩΔ;
        //MessageBoxAlert("epidomaID=" + epidomaID);
        // Handle data source of partial view
        $.ajax({
            url: '@Url.Action("GetEpidotisiSitisi2Record", "Apofaseis")?epidomaId=' + epidomaID,
            type: 'GET',
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#partialDiv").html(data);
            },
            error: function () {
                MessageBoxAlert("Προέκυψε σφάλμα δεδομένων. Δοκιμάστε πάλι αργότερα.");
            }
        });
    }

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();

    }

</script>





