@model StudentInfoViewModel
@using Primus.DAL;
@using Primus.Models;


@{
    ViewBag.Title = "Μητρώο μαθητών";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .k-grid {
        font-size: 10px;
    }
</style>


@Html.AntiForgeryToken()
<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Μητρώο μαθητών στέγασης-σίτισης</font>
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Admin", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:5px 30px 5px 30px;font-size:small">
        @(Html.Kendo().Grid<StudentInfoViewModel>()
        .Name("students")
        .Columns(columns =>
        {
            columns.Bound(c => c.ΑΦΜ).Width(12).Groupable(false);
            columns.Bound(c => c.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Width(38).Groupable(false)
                .ClientFooterTemplate("Συνολικό πλήθος: #=count#")
                .ClientGroupFooterTemplate("Πλήθος: #=count#");
            columns.Bound(c => c.EIDIKOTITA_TEXT).Width(57);
            columns.Bound(c => c.SCHOOL_NAME).Width(26);           
            columns.Bound(c => c.ΠΑΡΑΤΗΡΗΣΕΙΣ).Width(44);          
        })
        .Selectable()
        .Groupable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(10))
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(380))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(60)
            .ServerOperation(true)
            .Model(model =>
            {
                model.Id(p => p.ΜΑΘΗΤΗΣ_ΚΩΔΙΚΟΣ);
            })            
            .Read(read => read.Action("StudentInfo_Read", "Admin"))
            //.Group(groups => groups.Add(p => p.SCHOOL_NAME))          
            .Aggregates(a =>
            {
                a.Add(p => p.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Count();
            })
            .Events(events => events.Error("error_handler"))            
            )
        .Events(events => events.Change("change"))

        )  @* --- data grid ---*@
</div>

<div id="partialDiv" class="body-content" style="margin:15px 30px 5px 30px;font-size:small">
    @Html.Partial("xStudentInfoPartial")
</div>

<script id="events" type="text/javascript">

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var studentafm = dataItem.ΑΦΜ;
        var studentID = dataItem.ΜΑΘΗΤΗΣ_ΚΩΔΙΚΟΣ;
        //MessageBoxAlert("studentID=" + studentID);
        // Handle data source of partial view
        $.ajax({
            url: '@Url.Action("GetStudentRecord", "Admin")?studentId=' + studentID,
            //url: '/Admin/GetStudentRecord?studentId=' + studentID,
            type: 'GET',
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#partialDiv").html(data);
            },
            error: function () {
                MessageBoxAlert("Προέκυψε σφάλμα δεδομένων. Δοκιμάστε πάλι αργότερα.");
            }
        });
    }

    function RefreshGrid(e) {
        var grid = $("#students").data("kendoGrid");
        grid.dataSource.read();

    }

</script>





