@using Primus.DAL;
@using Primus.Models;

@{
    ViewBag.Title = "Καρτέλα μεταφόρτωσης";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
    int uploadID = (int)ViewData["uploadId"];
}

<link href="@Url.Content("~/Content/mvcNotify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript"></script>
<script type="text/javascript">
    //Set autoclear of messages. Don't put this into $(document).ready.
    //mvcNotify.autoClearTimeout = 0; //don't autoclear any types
    mvcNotify.autoClearTimeout = 10000; //Unit of milliseconds. Requires mvcNotify.typesToAutoClear to be set to something (default behavior).
    mvcNotify.typesToConsoleLog = "all"; //Log all types to console.
</script>


<div class="container body-content">
    <table class="col-md-12" style="border:solid;border-width:thin;margin:20px 40px 20px 20px">
        <tr>
            <th style="background-color:dimgray;padding-left:20px;padding-top:2px;padding-bottom:4px;margin-top:2px;margin-bottom:2px">
                <font style="font-family:'Segoe UI';font-size:large;color:white;">Μεταφόρτωση αρχείων στον εξυπηρετητή</font>
            </th>
        </tr>
        <tr>
            <td>
                <span style="margin:5px 10px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
                    <a class="btn btn-warning" style="font-family:'Segoe UI';font-size:14px" href="#" onclick="javascript:window.close();opener.window.focus();">Κλείσιμο καρτέλας</a>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-12">
                    @(Html.Kendo().Upload()
                        .Name("files")
                        .HtmlAttributes(new { title = "Δεν έχει γίνει επιλογή αρχείων" })
                        .TemplateId("fileTemplate")
                        .Async(a => a
                            .Save("Upload", "Document", new { uploadId = uploadID })
                            .Remove("Remove", "Document", new { uploadId = uploadID })
                            .AutoUpload(false))
                        .Events(e => e.Error("error_handler"))
                    )
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <script id="fileTemplate" type="text/x-kendo-template">
                    <span class='k-progress'></span>
                    <div class='file-wrapper'>
                        <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
                        <h4 class='file-heading file-name-heading' style="font-size:14px;font-weight:bold"> Όνομα : #=name#</h4>
                        @*<br />*@
                        <h4 class='file-heading file-size-heading' style="font-size:14px;font-style:italic"> Μέγεθος : #=size# bytes</h4>
                        <button type='button' class='k-upload-action'></button>
                    </div>
                </script>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">

    function addExtensionClass(extension) {
        switch (extension) {
            case '.jpg':
            case '.img':
            case '.png':
            case '.gif':
                return "img-file";
            case '.doc':
            case '.docx':
                return "doc-file";
            case '.xls':
            case '.xlsx':
                return "xls-file";
            case '.pdf':
                return "pdf-file";
            case '.zip':
            case '.rar':
                return "zip-file";
            case '.txt':
                return "txt-file";
            case '.mdb':
            case '.accdb':
                return "mdb-file";
            default:
                return "default-file";
        }
    }

    function error_handler(e) {
        var err = e.XMLHttpRequest.responseText;
        var message = err + "<br/>Αρχείο : " + getFileInfo(e)
        MessageBoxAlert(message, "Μεταφόρτωση");
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;

            // File size is not available in all browsers
            if (file.size > 0) {
                info += " (" + Math.ceil(file.size / 1024) + " KB)";
            }
            return info;
        }).join(", ");
    }

</script>

<style>
    #box
    {
        position:relative;
        min-height:300px;
        font-size: 14px;
    }

    .file-icon {
        display: inline-block;
        float: left;
        width: 48px;
        height: 48px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;

    }

    .img-file {
        background-image: url(@Url.Content("~/Images/upload/jpg.png"));
    }
    .doc-file {
        background-image: url(@Url.Content("~/Images/upload/doc.png"));
    }
    .pdf-file {
        background-image: url(@Url.Content("~/Images/upload/pdf.png"));
    }
    .xls-file {
        background-image: url(@Url.Content("~/Images/upload/xls.png"));
    }
    .zip-file {
        background-image: url(@Url.Content("~/Images/upload/zip.png"));
    }
    .txt-file {
        background-image: url(@Url.Content("~/Images/upload/txt.png"));
    }
    .mdb-file {
        background-image: url(@Url.Content("~/Images/upload/mdb.png"));
    }
    .default-file {
        background-image: url(@Url.Content("~/Images/upload/default.png"));
    }

 #box .file-heading {
        font-family: Arial;
        font-size: 1.1em;
        display: inline-block;
        float: left;
        width: 450px;
        margin: 0 0 0 20px;
        height: 25px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

 #box .file-name-heading {
        font-weight: bold;
    }

 #box  .file-size-heading {
        font-weight: normal;
        font-style: italic;
    }

    li.k-file .file-wrapper .k-upload-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    li.k-file div.file-wrapper {
        position: relative;
        height: 65px;
    }

</style>
