@model sqlAitiseis2ViewModel
@using Primus.DAL;
@using Primus.Models;


@{
    ViewBag.Title = "Μητρώο αιτήσεων σίτισης";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    .k-grid {
        font-size: 11px;
    }
</style>


@Html.AntiForgeryToken()
<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Μητρώο αιτήσεων για επίδομα σίτισης</font>
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "School", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px;font-size:small">

    @(Html.Kendo().Grid<sqlAitiseis2ViewModel>()
        .Name("Grid")
        .AutoBind(true)
        .HtmlAttributes(new { style = "display: block;font-size:12px" })
        .Selectable()
        .Filterable()
        .Groupable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Scrollable(scr => scr.Height(380))
        .Columns(columns =>
        {
            columns.Bound(c => c.ΑΦΜ).Width(14);
            columns.Bound(c => c.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Width(40)
                .ClientFooterTemplate("Συνολικό πλήθος: #=count#")
                .ClientGroupFooterTemplate("Πλήθος: #=count#");
            columns.Bound(c => c.SCHOOLYEAR_TEXT).Width(18);
            columns.Bound(c => c.EIDIKOTITA_TEXT).Width(58);
            columns.Bound(c => c.ΤΑΞΗ_ΛΕΚΤΙΚΟ).Width(14);
            columns.Bound(c => c.ΕΠΙΔΟΜΑ_ΚΕΙΜΕΝΟ).Width(15);
            columns.Bound(c => c.ΣΥΝΕΧΕΙΑ).Width(16);
            columns.Bound(c => c.ΑΙΤΗΣΗ_ΚΩΔ).Width(10).Hidden();
            columns.Bound(c => c.ΣΧΟΛΙΚΟ_ΕΤΟΣ).Width(10).Hidden();
        })
            .DataSource(ds => ds
                .Ajax()
                .PageSize(60)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(p => p.ΑΙΤΗΣΗ_ΚΩΔ);
                })
                .Read(read => read.Action("Aitiseis2_Read", "School"))
                .Events(events => events.Error("error_handler"))
                //.Group(groups => groups.Add(p => p.SCHOOLYEAR_TEXT))
                .Aggregates(a =>
                {
                    a.Add(p => p.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Count();
                })
            )
            .Events(events => events.Change("change"))
    )

</div>

<div id="partialDiv" class="body-content" style="margin:15px 30px 5px 30px;font-size:small">
    @Html.Partial("AitiseisInfo2Partial")
</div>

<script id="events" type="text/javascript">

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var aitisiID = dataItem.ΑΙΤΗΣΗ_ΚΩΔ;
        //MessageBoxAlert("studentID=" + aitisiID);
        // Handle data source of partial view
        $.ajax({
            url: '@Url.Action("GetAitisiRecord2", "School")?aitisiId=' + aitisiID,
            type: 'GET',
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#partialDiv").html(data);
            },
            error: function () {
                MessageBoxAlert("Προέκυψε σφάλμα δεδομένων. Δοκιμάστε πάλι αργότερα.");
            }
        });
    }

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();

    }

</script>





