@model Primus.Models.ApofasiSitisi2ViewModel
@using Primus.DAL;
@using Primus.Models;

@{
    ViewBag.Title = "Απόφαση σίτισης";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
    int apofasiID = Model.ΑΠΟΦΑΣΗ_ΚΩΔ;
}

<link href="@Url.Content("~/Content/mvcNotify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript"></script>
<script type="text/javascript">
    //Set autoclear of messages. Don't put this into $(document).ready.
    mvcNotify.autoClearTimeout = 0; //don't autoclear any types
    //mvcNotify.autoClearTimeout = 10000; //Unit of milliseconds. Requires mvcNotify.typesToAutoClear to be set to something (default behavior).
    mvcNotify.typesToConsoleLog = "all"; //Log all types to console.
</script>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        /*.control-label {
            font-family: 'Segoe UI';
            white-space: pre-line;
        }*/

        .k-textbox {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

            .k-textbox:focus {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
    </style>
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="page-header" style="margin:5px 60px 5px 60px">
        @*<span style="margin:5px 60px 5px 60px;font-family:'Segoe UI';font-size:x-large;text-shadow:1px 1px #000000">
            <font style="color:#494949;float:left;font-family:'Segoe UI'">Στοιχεία του ΙΕΚ</font>
        </span>*@
    </div>
    <div class="container body-content">
        <fieldset>
            <table class="col-md-12" style="border:solid;border-width:thin;margin:40px 20px 20px 20px">
                <tr>
                    <th style="background-color:#494949;padding-left:20px;padding-top:4px;padding-bottom:4px">
                        <font style="font-family:'Segoe UI';font-size:medium;color:white;">Στοιχεία απόφασης σίτισης σχολείου</font>
                    </th>
                </tr>
                <tr>
                    <td>
                        @*<span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "xStudentData", "School", new { studentId = Model.ΜΑΘΗΤΗΣ_ΚΩΔΙΚΟΣ }, new { @class = "btn btn-warning", style = "font-size:14px" })</span>*@
                        <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
                            <a class="btn btn-warning" style="font-family:'Segoe UI';font-size:14px" href="#" onclick="javascript:window.close();opener.window.focus();">Κλείσιμο καρτέλας</a>
                        </span>
                        <span style="margin:5px 5px 5px 10px;float:right;font-family:'Segoe UI';font-size:14px">
                            @Html.ActionLink("Εκτύπωση", "ApofasiSitisi2Print", "School", new { apofasiId = apofasiID }, new { @class = "btn btn-primary", style = "font-size:14px", target = "_blank" })
                        </span>
                        <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
                            <input style="font-family:'Segoe UI';font-size:14px" type="submit" value="Αποθήκευση" class="btn btn-success" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="body-content">
                        @(Html.Kendo().TabStrip()
                        .Name("TabStrip")
                        .Items(items =>
                        {
                            items.Add()
                            .Text("Στοιχεία απόφασης (1)")
                            .Selected(true)
                            .ContentHtmlAttributes(new { style = "height: 360px" })
                            .Content(@<text>
                            <p></p>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΔΙΑΧΕΙΡΙΣΤΗΣ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΔΙΑΧΕΙΡΙΣΤΗΣ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΔΙΑΧΕΙΡΙΣΤΗΣ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΣΧΟΛΙΚΟ_ΕΤΟΣ, new { @class = "control-label col-md-2" })
                                @(Html.Kendo().DropDownListFor(model => model.ΣΧΟΛΙΚΟ_ΕΤΟΣ)
                                .Name("ΣΧΟΛΙΚΟ_ΕΤΟΣ")
                                .DataTextField("SCHOOLYEAR_TEXT")
                                .DataValueField("SCHOOLYEAR_ID")
                                .HtmlAttributes(new { style = "width:200px" })
                                .OptionLabel("---Επιλογή---")
                                .AutoBind(true)
                                .DataSource(source => { source.Read(read => { read.Action("GetSchoolYears", "School"); }).ServerFiltering(true); })
                                )
                                @Html.ValidationMessageFor(model => model.ΣΧΟΛΙΚΟ_ΕΤΟΣ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΜΗΝΑΣ, new { @class = "control-label col-md-2" })
                                @(Html.Kendo().DropDownListFor(model => model.ΜΗΝΑΣ)
                                .Name("ΜΗΝΑΣ")
                                .AutoBind(true)
                                .DataTextField("MONTH_TEXT")
                                .DataValueField("MONTH_ID")
                                .HtmlAttributes(new { style = "width:200px" })
                                .OptionLabel("---Επιλογή---")
                                .DataSource(source => { source.Read(read => { read.Action("GetMonths", "School"); }).ServerFiltering(true); })
                                )
                                @Html.ValidationMessageFor(model => model.ΜΗΝΑΣ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΑΠΟΦΑΣΗ_ΥΠΟΥΡΓΟΣ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΑΠΟΦΑΣΗ_ΥΠΟΥΡΓΟΣ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΑΠΟΦΑΣΗ_ΥΠΟΥΡΓΟΣ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΑΠΟΦΑΣΗ_ΔΙΟΙΚΗΤΗΣ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΑΠΟΦΑΣΗ_ΔΙΟΙΚΗΤΗΣ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΑΠΟΦΑΣΗ_ΔΙΟΙΚΗΤΗΣ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΕΓΚΥΚΛΙΟΙ_Α2, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΕΓΚΥΚΛΙΟΙ_Α2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΕΓΚΥΚΛΙΟΙ_Α2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΠΡΑΚΤΙΚΑ_ΣΧΟΛΕΙΟ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΠΡΑΚΤΙΚΑ_ΣΧΟΛΕΙΟ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΠΡΑΚΤΙΚΑ_ΣΧΟΛΕΙΟ, "", new { @class = "text-danger" })
                            </div>
                            <p></p>
                            </text>);
                            items.Add()
                               .Text("Στοιχεία απόφασης (2)")
                                .ContentHtmlAttributes(new { style = "height: 360px" })
                               .Content(@<text>
                            <p></p>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΗΜΝΙΑ_ΣΥΝΤΑΞΗ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΗΜΝΙΑ_ΣΥΝΤΑΞΗ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΗΜΝΙΑ_ΣΥΝΤΑΞΗ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΠΡΩΤΟΚΟΛΛΟ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΠΡΩΤΟΚΟΛΛΟ, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
                                @Html.ValidationMessageFor(model => model.ΠΡΩΤΟΚΟΛΛΟ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΗΜΕΡΟΜΗΝΙΑ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΗΜΕΡΟΜΗΝΙΑ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΗΜΕΡΟΜΗΝΙΑ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΣΤΟ_ΟΡΘΟ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΣΤΟ_ΟΡΘΟ, new { htmlAttributes = new { @class = "form-control", style = "max-width:20px;max-height:20px" } })
                                @Html.ValidationMessageFor(model => model.ΣΤΟ_ΟΡΘΟ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΗΜΕΡΟΜΗΝΙΑ_ΟΡΘΟ, new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ΗΜΕΡΟΜΗΝΙΑ_ΟΡΘΟ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΗΜΕΡΟΜΗΝΙΑ_ΟΡΘΟ, "", new { @class = "text-danger" })
                            </div>
                            <p></p>
                            </text>);
                            items.Add()
                                .Text("Στοιχεία δαπάνης")
                                .ContentHtmlAttributes(new { style = "height: 360px" })
                                .Content(@<text>
                            <p></p>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΣΙΤΙΣΗ_ΠΟΣΟ, new { @class = "control-label col-md-3" })
                                @Html.EditorFor(model => model.ΣΙΤΙΣΗ_ΠΟΣΟ, new { htmlAttributes = new { @class = "form-control", style = "max-height:22px;max-width:200px" } })
                                @Html.ValidationMessageFor(model => model.ΣΙΤΙΣΗ_ΠΟΣΟ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΣΙΤΙΣΗ_ΣΥΝΟΛΟ, new { @class = "control-label col-md-3" })
                                @Html.EditorFor(model => model.ΣΙΤΙΣΗ_ΣΥΝΟΛΟ, new { htmlAttributes = new { @class = "form-control", style = "max-height:22px;max-width:200px" } })
                                @Html.ValidationMessageFor(model => model.ΣΙΤΙΣΗ_ΣΥΝΟΛΟ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΠΛΗΘΟΣ, new { @class = "control-label col-md-3" })
                                @Html.EditorFor(model => model.ΠΛΗΘΟΣ, new { htmlAttributes = new { @class = "form-control", style = "max-height:22px;width:200px" } })
                                @Html.ValidationMessageFor(model => model.ΠΛΗΘΟΣ, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-11" style="margin-bottom:5px">
                                @Html.LabelFor(model => model.ΠΛΗΘΟΣ_ΛΕΚΤΙΚΟ, new { @class = "control-label col-md-3" })
                                @Html.EditorFor(model => model.ΠΛΗΘΟΣ_ΛΕΚΤΙΚΟ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ΠΛΗΘΟΣ_ΛΕΚΤΙΚΟ, "", new { @class = "text-danger" })
                            </div>
                            </text>);
                        })
                        )       @*--- End of Tabstrip ---*@
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

}   @* ---  End of BeginForm ----------*@

<script type="text/javascript">

    function filterSchools() {
        return {
            schoolType: $("#ΣΧΟΛΗ_ΤΥΠΟΣ").val()
        };
    }

    function filterEidikotites() {
        return {
            schoolType: $("#ΣΧΟΛΗ_ΤΥΠΟΣ").val()
        };
    }

    function filterDimoi() {
        return {
            periferia: $("#ΚΑΤΟΙΚΙΑ_ΠΕΡΙΦΕΡΕΙΑ").val()
        };
    }

    function filterDimoi2() {
        return {
            periferia: $("#ΔΙΑΜΟΝΗ_ΠΕΡΙΦΕΡΕΙΑ").val()
        };
    }

</script>